p this is my paragraph #[this is span]
|
|
p this is my paragraph #[span(class="awesome-class") this is fun]
|
|
p 
  | I can write cool staff
  | than can receive a buff
  | and my rhymes are not so good
  | cause I'm in a sleepy mood.