doktype html
html
  head
    title This is home
  body
    //-include menu
    .menu
      a.menu-link(href="/extends") home
    //-this is mu unique page content
    h1 this my home page
    //-include footer
    footer
      | &copy; 2019