-
    var peopleList = [
        {
            name: "Agnes",
            age: 28
        },
        {
            name: "Grace",
            age: 30
        },
        {
            name: "Marian",
            age: 36
        },
    ]

table
    thead
        tr
            td Name
            td Age
    tbody
        tr
            td Agnes
            td 28