-
    var peopleList = [
        {
            name: "Agnes",
            age: 28
        },
        {
            name: "Grace",
            age: 30
        },
        {
            name: "Marian",
            age: 36
        },
    ]

h1 hello
<table>
</table>