//- this code about the bufferd code in pug
// this would be the first p tag that gets rendered
//-
  this would be the second paragraph
  and I've just done a block comment in pug
  that doesn't get rendered to the html output
p= 'This is me'
p= 'This is my <b>cat</b>'
//
  this must be really cool to share with someone
  that reads the source code and looks into html
p!= 'This is my <strong>dog</strong>'