-
  var codetapData = {
    title: 'CodeTap',
    slogan1: 'Code is currency'
  }
  var authenticated = false

#codetap
  if codetapData.slogen
    h1 CodeTap info
    p.slogan= codetapData.slogen
  else if authenticated
    h1 Welcome back to CodeTap
    p.slogan.
      Build websites and get paid well
      With or without any knowledge of coding
  else
    You should contact with us
    p.slogan Happy Hacking

  unless authenticated
    p this is unless

// unless is same like if !authenticated